In [43]:
#import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid", palette="muted")
from numbers import Number
from scipy import stats
#allow plots and visualisations to be displayed in the report
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [44]:
# Read weather data into pandas dataframe
# Data taken from https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/global-historical-climatology-network-ghcn

colnames=['station', 'date', 'measure', 'data', 'x1', 'x2', 'x3', 'x4'] 
df=pd.read_csv('2017 Weather Data.csv', header=None)
df.columns = colnames
# Data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34854601 entries, 0 to 34854600
Data columns (total 8 columns):
station    object
date       int64
measure    object
data       int64
x1         object
x2         object
x3         object
x4         float64
dtypes: float64(1), int64(2), object(5)
memory usage: 2.1+ GB

In [45]:
df.head()

       station      date measure  data   x1   x2 x3  x4
0  US1FLSL0019  20170101    PRCP     0  NaN  NaN  N NaN
1  US1FLSL0019  20170101    SNOW     0  NaN  NaN  N NaN
2  NOE00133566  20170101    TMAX    50  NaN  NaN  E NaN
3  NOE00133566  20170101    TMIN     3  NaN  NaN  E NaN
4  NOE00133566  20170101    PRCP   160  NaN  NaN  E NaN

In [46]:
#include country code from station
df['country code'] = df['station'].str[:2]
df

              station      date measure  data   x1   x2 x3     x4 country code
0         US1FLSL0019  20170101    PRCP     0  NaN  NaN  N    NaN           US
1         US1FLSL0019  20170101    SNOW     0  NaN  NaN  N    NaN           US
2         NOE00133566  20170101    TMAX    50  NaN  NaN  E    NaN           NO
3         NOE00133566  20170101    TMIN     3  NaN  NaN  E    NaN           NO
4         NOE00133566  20170101    PRCP   160  NaN  NaN  E    NaN           NO
...               ...       ...     ...   ...  ...  ... ..    ...          ...
34854596  US1NMSM0028  20171231    PRCP     0  NaN  NaN  N    NaN           US
34854597  US1NMSM0028  20171231    SNOW     0  NaN  NaN  N    NaN           US
34854598  USC00111083  20171231    PRCP    18  NaN  NaN  7  700.0           US
34854599  USC00111083  20171231    SNOW    15  NaN  NaN  7    NaN           US
34854600  USC00111083  20171231    SNWD    51  NaN  NaN  7  700.0           US

[34854601 rows x 9 columns]

In [52]:
country_code=pd.read_csv('country codes.csv')
country_code['Code'] = country_code['Code'].str.strip()
country_code['Country'] = country_code['Country'].str.strip()
country_code

    Code                      Country
0     AC          Antigua and Barbuda
1     AE         United Arab Emirates
2     AF                  Afghanistan
3     AG                      Algeria
4     AJ                   Azerbaijan
..   ...                          ...
214   WI               Western Sahara
215   WQ  Wake Island [United States]
216   WZ                    Swaziland
217   ZA                       Zambia
218   ZI                     Zimbabwe

[219 rows x 2 columns]

In [53]:
df = pd.merge(df, country_code, left_on= 'country code', right_on='Code')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34854601 entries, 0 to 34854600
Data columns (total 11 columns):
station         object
date            int64
measure         object
data            int64
x1              object
x2              object
x3              object
x4              float64
country code    object
Code            object
Country         object
dtypes: float64(1), int64(2), object(8)
memory usage: 3.1+ GB

In [57]:
output_df = df[['date','Code', 'Country', 'measure','data']]

In [58]:
output_df.head(10)

       date Code        Country measure  data
0  20170101   US  United States    PRCP     0
1  20170101   US  United States    SNOW     0
2  20170101   US  United States    TMAX    39
3  20170101   US  United States    TMIN   -56
4  20170101   US  United States    TOBS   -22
5  20170101   US  United States    PRCP     0
6  20170101   US  United States    SNOW     0
7  20170101   US  United States    SNWD     0
8  20170101   US  United States    WESD     0
9  20170101   US  United States    TMAX   -17

In [59]:
output_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34854601 entries, 0 to 34854600
Data columns (total 5 columns):
date       int64
Code       object
Country    object
measure    object
data       int64
dtypes: int64(2), object(3)
memory usage: 1.6+ GB

In [60]:
measures = ['TMAX', 'TMIN', 'TAVG', 'TSUN',]
output_df = output_df.loc[output_df['measure'].isin(measures)]

In [61]:
output_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11417906 entries, 2 to 34854600
Data columns (total 5 columns):
date       int64
Code       object
Country    object
measure    object
data       int64
dtypes: int64(2), object(3)
memory usage: 522.7+ MB

In [62]:
output_df.to_csv ('2017 simple weather data.csv', index = False, header=True)

CODES FOR MEASURES

           PRCP = Precipitation (tenths of mm)
   	   SNOW = Snowfall (mm)
	   SNWD = Snow depth (mm)
           TMAX = Maximum temperature (tenths of degrees C)
           TMIN = Minimum temperature (tenths of degrees C)
	   
	   The other elements are:
	   
	   ACMC = Average cloudiness midnight to midnight from 30-second 
	          ceilometer data (percent)
	   ACMH = Average cloudiness midnight to midnight from 
	          manual observations (percent)
           ACSC = Average cloudiness sunrise to sunset from 30-second 
	          ceilometer data (percent)
	   ACSH = Average cloudiness sunrise to sunset from manual 
	          observations (percent)
           AWDR = Average daily wind direction (degrees)
	   AWND = Average daily wind speed (tenths of meters per second)
	   DAEV = Number of days included in the multiday evaporation
	          total (MDEV)
	   DAPR = Number of days included in the multiday precipiation 
	          total (MDPR)
           DASF = Number of days included in the multiday snowfall 
	          total (MDSF)		  
	   DATN = Number of days included in the multiday minimum temperature 
	         (MDTN)
	   DATX = Number of days included in the multiday maximum temperature 
	          (MDTX)
           DAWM = Number of days included in the multiday wind movement
	          (MDWM)
	   DWPR = Number of days with non-zero precipitation included in 
	          multiday precipitation total (MDPR)
	   EVAP = Evaporation of water from evaporation pan (tenths of mm)
	   FMTM = Time of fastest mile or fastest 1-minute wind 
	          (hours and minutes, i.e., HHMM)
	   FRGB = Base of frozen ground layer (cm)
	   FRGT = Top of frozen ground layer (cm)
	   FRTH = Thickness of frozen ground layer (cm)
	   GAHT = Difference between river and gauge height (cm)
	   MDEV = Multiday evaporation total (tenths of mm; use with DAEV)
	   MDPR = Multiday precipitation total (tenths of mm; use with DAPR and 
	          DWPR, if available)
	   MDSF = Multiday snowfall total 
	   MDTN = Multiday minimum temperature (tenths of degrees C; use with 
	          DATN)
	   MDTX = Multiday maximum temperature (tenths of degress C; use with 
	          DATX)
	   MDWM = Multiday wind movement (km)
           MNPN = Daily minimum temperature of water in an evaporation pan 
	         (tenths of degrees C)
           MXPN = Daily maximum temperature of water in an evaporation pan 
	         (tenths of degrees C)
	   PGTM = Peak gust time (hours and minutes, i.e., HHMM)
	   PSUN = Daily percent of possible sunshine (percent)
	   SN*# = Minimum soil temperature (tenths of degrees C)
	          where * corresponds to a code
	          for ground cover and # corresponds to a code for soil 
		  depth.  
		  
		  Ground cover codes include the following:
		  0 = unknown
		  1 = grass
		  2 = fallow
		  3 = bare ground
		  4 = brome grass
		  5 = sod
		  6 = straw multch
		  7 = grass muck
		  8 = bare muck
		  
		  Depth codes include the following:
		  1 = 5 cm
		  2 = 10 cm
		  3 = 20 cm
		  4 = 50 cm
		  5 = 100 cm
		  6 = 150 cm
		  7 = 180 cm
		  
	   SX*# = Maximum soil temperature (tenths of degrees C) 
	          where * corresponds to a code for ground cover 
		  and # corresponds to a code for soil depth. 
		  See SN*# for ground cover and depth codes. 
           TAVG = Average temperature (tenths of degrees C)
	          [Note that TAVG from source 'S' corresponds
		   to an average for the period ending at
		   2400 UTC rather than local midnight]
           THIC = Thickness of ice on water (tenths of mm)	
 	   TOBS = Temperature at the time of observation (tenths of degrees C)
	   TSUN = Daily total sunshine (minutes)
	   WDF1 = Direction of fastest 1-minute wind (degrees)
	   WDF2 = Direction of fastest 2-minute wind (degrees)
	   WDF5 = Direction of fastest 5-second wind (degrees)
	   WDFG = Direction of peak wind gust (degrees)
	   WDFI = Direction of highest instantaneous wind (degrees)
	   WDFM = Fastest mile wind direction (degrees)
           WDMV = 24-hour wind movement (km)	   
           WESD = Water equivalent of snow on the ground (tenths of mm)
	   WESF = Water equivalent of snowfall (tenths of mm)
	   WSF1 = Fastest 1-minute wind speed (tenths of meters per second)
	   WSF2 = Fastest 2-minute wind speed (tenths of meters per second)
	   WSF5 = Fastest 5-second wind speed (tenths of meters per second)
	   WSFG = Peak gust wind speed (tenths of meters per second)
	   WSFI = Highest instantaneous wind speed (tenths of meters per second)
	   WSFM = Fastest mile wind speed (tenths of meters per second)
	   WT** = Weather Type where ** has one of the following values:
	   
                  01 = Fog, ice fog, or freezing fog (may include heavy fog)
                  02 = Heavy fog or heaving freezing fog (not always 
		       distinquished from fog)
                  03 = Thunder
                  04 = Ice pellets, sleet, snow pellets, or small hail 
                  05 = Hail (may include small hail)
                  06 = Glaze or rime 
                  07 = Dust, volcanic ash, blowing dust, blowing sand, or 
		       blowing obstruction
                  08 = Smoke or haze 
                  09 = Blowing or drifting snow
                  10 = Tornado, waterspout, or funnel cloud 
                  11 = High or damaging winds
                  12 = Blowing spray
                  13 = Mist
                  14 = Drizzle
                  15 = Freezing drizzle 
                  16 = Rain (may include freezing rain, drizzle, and
		       freezing drizzle) 
                  17 = Freezing rain 
                  18 = Snow, snow pellets, snow grains, or ice crystals
                  19 = Unknown source of precipitation 
                  21 = Ground fog 
                  22 = Ice fog or freezing fog
		  
            WV** = Weather in the Vicinity where ** has one of the following 
	           values:
		   
		   01 = Fog, ice fog, or freezing fog (may include heavy fog)
		   03 = Thunder
		   07 = Ash, dust, sand, or other blowing obstruction
		   18 = Snow or ice crystals
		   20 = Rain or snow shower
		   
VALUE1     is the value on the first day of the month (missing = -9999).

MFLAG1     is the measurement flag for the first day of the month.  There are
           ten possible values:

           Blank = no measurement information applicable
           B     = precipitation total formed from two 12-hour totals
           D     = precipitation total formed from four six-hour totals
	   H     = represents highest or lowest hourly temperature (TMAX or TMIN) 
	           or the average of hourly values (TAVG)
	   K     = converted from knots 
	   L     = temperature appears to be lagged with respect to reported
	           hour of observation 
           O     = converted from oktas 
	   P     = identified as "missing presumed zero" in DSI 3200 and 3206
           T     = trace of precipitation, snowfall, or snow depth
	   W     = converted from 16-point WBAN code (for wind direction)

QFLAG1     is the quality flag for the first day of the month.  There are 
           fourteen possible values:

           Blank = did not fail any quality assurance check
           D     = failed duplicate check
           G     = failed gap check
           I     = failed internal consistency check
           K     = failed streak/frequent-value check
	   L     = failed check on length of multiday period 
           M     = failed megaconsistency check
           N     = failed naught check
           O     = failed climatological outlier check
           R     = failed lagged range check
           S     = failed spatial consistency check
           T     = failed temporal consistency check
           W     = temperature too warm for snow
           X     = failed bounds check
	   Z     = flagged as a result of an official Datzilla 
	           investigation

SFLAG1     is the source flag for the first day of the month.  There are 
           thirty possible values (including blank, upper and 
	   lower case letters):

           Blank = No source (i.e., data value missing)
           0     = U.S. Cooperative Summary of the Day (NCDC DSI-3200)
           6     = CDMP Cooperative Summary of the Day (NCDC DSI-3206)
           7     = U.S. Cooperative Summary of the Day -- Transmitted 
	           via WxCoder3 (NCDC DSI-3207)
           A     = U.S. Automated Surface Observing System (ASOS) 
                   real-time data (since January 1, 2006)
	   a     = Australian data from the Australian Bureau of Meteorology
           B     = U.S. ASOS data for October 2000-December 2005 (NCDC 
                   DSI-3211)
	   b     = Belarus update
	   C     = Environment Canada
	   D     = Short time delay US National Weather Service CF6 daily 
	           summaries provided by the High Plains Regional Climate
		   Center
	   E     = European Climate Assessment and Dataset (Klein Tank 
	           et al., 2002)	   
           F     = U.S. Fort data 
           G     = Official Global Climate Observing System (GCOS) or 
                   other government-supplied data
           H     = High Plains Regional Climate Center real-time data
           I     = International collection (non U.S. data received through
	           personal contacts)
           K     = U.S. Cooperative Summary of the Day data digitized from
	           paper observer forms (from 2011 to present)
           M     = Monthly METAR Extract (additional ASOS data)
	   m     = Data from the Mexican National Water Commission (Comision
	           National del Agua -- CONAGUA)
	   N     = Community Collaborative Rain, Hail,and Snow (CoCoRaHS)
	   Q     = Data from several African countries that had been 
	           "quarantined", that is, withheld from public release
		   until permission was granted from the respective 
	           meteorological services
           R     = NCEI Reference Network Database (Climate Reference Network
	           and Regional Climate Reference Network)
	   r     = All-Russian Research Institute of Hydrometeorological 
	           Information-World Data Center
           S     = Global Summary of the Day (NCDC DSI-9618)
                   NOTE: "S" values are derived from hourly synoptic reports
                   exchanged on the Global Telecommunications System (GTS).
                   Daily values derived in this fashion may differ significantly
                   from "true" daily data, particularly for precipitation
                   (i.e., use with caution).
	   s     = China Meteorological Administration/National Meteorological Information Center/
	           Climatic Data Center (http://cdc.cma.gov.cn)
           T     = SNOwpack TELemtry (SNOTEL) data obtained from the U.S. 
	           Department of Agriculture's Natural Resources Conservation Service
	   U     = Remote Automatic Weather Station (RAWS) data obtained
	           from the Western Regional Climate Center	   
	   u     = Ukraine update	   
	   W     = WBAN/ASOS Summary of the Day from NCDC's Integrated 
	           Surface Data (ISD).  
           X     = U.S. First-Order Summary of the Day (NCDC DSI-3210)
	   Z     = Datzilla official additions or replacements 
	   z     = Uzbekistan update
	   
	   When data are available for the same time from more than one source,
	   the highest priority source is chosen according to the following
	   priority order (from highest to lowest):
	   Z,R,D,0,6,C,X,W,K,7,F,B,M,m,r,E,z,u,b,s,a,G,Q,I,A,N,T,U,H,S
	   
	   
VALUE2     is the value on the second day of the month

MFLAG2     is the measurement flag for the second day of the month.

QFLAG2     is the quality flag for the second day of the month.

SFLAG2     is the source flag for the second day of the month.

... and so on through the 31st day of the month.  Note: If the month has less 
than 31 days, then the remaining variables are set to missing (e.g., for April, 
VALUE31 = -9999, MFLAG31 = blank, QFLAG31 = blank, SFLAG31 = blank).